.row {
    // display: flex;
    justify-content: space-between;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media only screen and (max-width: 767px) {
        column-gap: 21px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &_col {
        z-index: 2;
        position: relative;

        @media only screen and (max-width: 767px) {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 21px;
            }
        }

        & h3 {
            color: #e84118;
            font-size: 36px;
            font-weight: 800;
            margin: 0;
        }

        & p {
            color: #282828;
            font-size: 14px;
            font-weight: 500;
            line-height: 30px;
            margin: 0;
        }

        &_shape {
            z-index: 0;
            width: 100px;
            height: 100%;
            background-image: linear-gradient(to right, #82139e, #200070);
            position: absolute;
            top: auto;
            bottom: -23px;
            left: -23px;
            right: auto;
            opacity: 0;
            transform: scale(0.7);
            transition: all 0.3s;
        }

        &:hover {
            & .business-row-col-shape {
                opacity: 1;
            }

            & .business-row-col-content {
                box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.09);
            }
        }

        &_content {
            border-radius: 20px;
            border: 1px solid #b2bec3;
            background: #fff;
            text-align: center;
            padding: 13px 20px;
            z-index: 1;
            position: relative;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }

    &_trans {
        .row_col {
            border-color: #e84118;

            h3,
            p {
                color: #fff;
            }
        }

        .row_col_content {
            background: #e84118;
        }
    }

    &_fit {
        .row_col {
            flex: 1;

            &+.row_col {
                margin-left: 60px;

                @media only screen and (max-width: 767px) {
                    margin-left: 0;
                }
            }
        }
    }
}